<div class="upload-wrapper">
<!--   
  Botão estilizado 
  <button 
    type="button" 
    class="upload-btn"
    (click)="triggerFileInput(fileInput)">
    {{ label }}
  </button>  
-->

  <!-- Input com bootstrap -->
  <input
    #fileInput
    type="file"
    [accept]="accept"
    (change)="onFileChange($event)"
    class="form-control"
  />

</div>
<div class="mt-2" *ngIf="file">
  <strong>Arquivo selecionado:</strong> {{ file.name }}
</div>

<!--
Como o botão normal de selecionar é feio, aqui escondemos ele e criamos um botão que possui o 
  evento de click, então quando esse click acontecer,
   o input é executado, abrindo o seletor de arquivos.
    E quando o input sente o arquivo, ou seja, vê alteração no input, 
      ele chama o evento change e assim, chama o acontecimento de manipular o arquivo  
-->