.footer {
  .social-icon {
    font-size: 1.6rem;
    color: #ffffff;
    transition: 0.3s ease;

    &:hover {
      color: #0d6efd;
      transform: scale(1.1);
    }
  }

  .disabled-icon {
    opacity: 0.4;
    cursor: default;
    pointer-events: none; 
  }
}